<h2>Add new toy</h2>

<form action="/inventory" method="POST">
  <p>Name: <input type="text" name="name"></p>
  <p>Description: <input type="text" name="description"></p>
  <p>How many you want to add: <input type="text" name="quantity"></p>
  <p>ID: <input type="text" name="id"></p>
  <!-- <p>ID: -->
  <!-- <input type="text" name="id"> -->
<!-- </p>  -->
  <input type="submit" value="Create">
  <button><a href="/inventory">Cancel</a></button>
</form>
