<!DOCTYPE html>
<html>
<head>
  <title>Little Nightmare</title>
  <link rel="stylesheet" href="<%= url('/app.css') %>" type="text/css"/>
</head>

<body>

  <h1>Toy Shop Little Nightmare</h1>
  <hr/>

  <%= yield %>

</body>
</html>
